<h1 mat-dialog-title>Agregar empleado</h1>
<div mat-dialog-content>
<form [formGroup]="formEmpleado">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seleccione el cargo</mat-label>
      <select matNativeControl formControlName="cargo">
        <option [value]="item.id" *ngFor="let item of cargos()">{{item.nombre}}</option>
      </select>
    </mat-form-field>
</form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="actualizarEmpleado()" [disabled]="formEmpleado.invalid">Ok</button>
</div>
