<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="item-nav-menu" routerLink="/home" routerLinkActive="router-link-active" >My Calendar</a>
  <span class="example-spacer"></span>
  <a class="item-nav-menu" routerLink="/empleados" routerLinkActive="router-link-active" >Empleados</a>
  <a class="item-nav-menu" routerLink="/cargos" routerLinkActive="router-link-active" >Cargos</a>
</mat-toolbar>
<router-outlet></router-outlet>
